body {
  background: rgba(84,104,110,0.8);
  background-image: url("https://p4.wallpaperbetter.com/wallpaper/955/1008/985/black-simple-white-world-wallpaper-preview.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

